
body
{
    background-color: gold;
}
.glow-on-hover {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background-color: darkgray;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 1%;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #221e1e
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3d3939;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
marquee{
    background-color: brown;
    color: aliceblue;
    font-size: 25px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
.optio{
    cursor: pointer;
    display: none;
    margin-top: 5%;
    background-color: #48ff00;
    width: fit-content;
    height: fit-content;
    padding: 25px;
    border-radius: 10px;

}
.barra{
    background-color: brown;
    width: 100%;
    height: 1%;
    
}
.audio{
    /*display: none;*/
    margin-top: 1%;
    margin-left: 20%;
}
.local{
    margin-left: 25%;
}
.inicio{
    display: none;
}
.norma{
    background-color: #48ff00;
    text-align: center;
    font-family: sans-serif;
}
h2{
    text-align: left;
    margin-left: 2%;
}
.iputbtn{
    display: none;
    padding: 10px;
    border-radius: 10px;
}